[Unit]
Description=Housekeeper
Documentation=https://github.com/ogelami/housekeeper
After=network.target

[Service]
Type=simple
Restart=always
PIDFile=/var/run/housekeeper.pid
ExecStart=/var/housekeeper/bin/housekeeper
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
